// Typography
$font: "Roboto";

// Color Palette
$lightGrey: #3f4345;

// Colors
$backgroundGrey: #2c2f30;
$backgroundBlack: #000;
$textColorWhite: #fff;
$buttonBackGroundGreen: #0ac278;

// Navigation
$navDesktopHeight: 60px;

// Container
$desktopContainerWidth: 1000px;
